body {
  display: flex;
}

#leftContainer,
#rightContainer {
  height: 100vh;
}

#leftContainer {
  background-color: aqua;
  width: 40vw;
}

#rightContainer {
  background-color: yellow;
  width: 60vw;
}