:root {
  background-color: rgb(14, 37, 65);
  --textColor: rgb(223, 152, 60);
  color: var(--textColor);
  
}

.container {  
  display: grid;
  grid-template-columns: 1.6fr;
  grid-template-rows: 0.6fr 2.2fr 0.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header"
    "content"
    "footer";
  width: 100vw;
  height: 100vh;

}

/*          Header          */

.header { 
  display: flex;
  grid-area: header; 
  justify-content: center;
  align-items: flex-end;

}

/*          Content          */

.content {  
  display: grid;
  grid-template-columns: 0.6fr 1.8fr 0.6fr;
  grid-template-rows: 0.3fr 1.7fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "content-left content-top content-right"
    "content-left shelf content-right";
  grid-area: content;

}

.content-top {
  grid-area: content-top;
  display: flex;
  justify-content: center;
  align-items: center;


}

.totals-container {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  list-style: none;
  
}

.totals {
  width: fit-content;
  
}

.shelf {  
  display: flex;
  flex-direction: column;
  max-height: 100%;
  max-width: 100%;
  grid-area: shelf;
  position: relative;

  align-items: center;
}

.display {
  display: flex;
  flex-wrap: wrap;
  max-height: 100%;
}

.btn-newBook {
  background-color: rgb(115, 252, 97);
  border: none;
  font-size: 1rem;
  font-weight: 700;
  width: fit-content;
}

button {
  background-color: rgb(115, 252, 97);
  border: none;
  font-size: 1rem;
  font-weight: 700;
  width: fit-content;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin: 20px;
  width: 180px;
  flex-wrap: wrap;
  overflow: auto;
  text-align: left;
  padding-left: 20px;
}

.content-right {
  grid-area: content-right;

}

.content-left {
  grid-area: content-left;

}


/*          Footer          */
.footer { 
  grid-area: footer;
  display: flex;
  justify-content: center;
}

.footer a {
  text-decoration: none;
  color: blue
}

.footer-card {
  width: fit-content;
  height: fit-content;
  background-color: rgba(0, 0, 0, .2);
  font-weight: 900;
  font-size: 2rem;
  padding: 20px;
  border-radius: 25px;
}


/*          Form            */

.form-container {
  width: 50vw;
  height: fit-content;
  place-self: center;
  position: absolute;
  z-index: 999;
  background-color: rgba(37, 32, 32, 0.5);
  backdrop-filter: blur(4px);
  display: none;
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
  border-radius: 75px;
  padding: 20px;
}

.form-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-details {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.close {
  cursor: pointer;
  margin-left: 80%;
  font-size: 3rem;
  font-weight: 900;
}